<div class="wrapper">
  <app-header *ngIf="isShowAdminHeader"></app-header>
  <div class="content-wrapper">
    <div class="container-fluid">

      <!-- social icons right side -->
      <div class="float-sm" *ngIf="isShowSocialIcons">
        <div class="fl-fl float-wt">
          <i class="fa fa-whatsapp  new-icoright"></i>
          <a href="" target="_blank" data-toggle="tooltip" data-placement="left"
          title="whatsapp">whatsapp</a>
        </div>
        <div class="fl-fl float-fb">
          <i class="fa fa-facebook  new-icoright"></i>
          <a href="" target="_blank" data-toggle="tooltip" data-placement="left"
          title="Facebook">facebook</a>
        </div>
        <div class="fl-fl float-tw">
          <i class="fa fa-twitter  new-icoright"></i>
          <a href="" target="_blank" data-toggle="tooltip" data-placement="left"
          title="Twitter">Twitter</a>
        </div>
        <div class="fl-fl float-lin">
          <i class="fa fa-linkedin  new-icoright"></i>
          <a href="" target="_blank" data-toggle="tooltip" data-placement="left"
          title="Linked In">Linkedin</a>
        </div>
        <div class="fl-fl float-ins">
          <i class="fa fa-instagram new-icoright"></i>
          <a href="" target="_blank" data-toggle="tooltip" data-placement="left"
          title="Instagram">instagram</a>
        </div>
        <div class="fl-fl float-pn">
          <i class="fa fa-google-plus new-icoright"></i>
          <a href="" target="_blank" data-toggle="tooltip" data-placement="left"
          title="Google +"> Google +</a>
        </div>
      </div>
      <!-- social icons right side -->

      <!-- Header -->
      <div class="row headertop header"  *ngIf="isShowHeader">
        <div class="container">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">

              <div class="col-2 col-sm-3 col-md-3 col-lg-3 logodiv" data-toggle="tooltip" data-placement="bottom"
              title="Home">
                <a href="#" class="desktoplogoimg"><img src="assets/img/logo.png"></a>
                <a href="#" class="mobilelogoimg"><img src="assets/img/logo-mob.png"></a>
              </div>

              <div class="col-10 col-sm-9 col-md-9 col-lg-9">
                <ul class="menutopnav ">
                  <li><a href="#" data-toggle="modal" data-target="#emailplanesModal" data-toggle="tooltip"
                      data-placement="bottom" title="Email"><i class="fa fa-envelope"></i> Email Plans</a></li>
                  <li><a href="#" data-toggle="modal" data-target="#talkheadpopupModal" data-toggle="tooltip"
                      data-placement="bottom" title="Contact"><i class="fa fa-phone"></i> Talk To Expert</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header -->

      <!-- Banner -->
      <router-outlet></router-outlet>
      <!-- Banner -->

      <!-- Footer -->
      <app-inner-footer *ngIf="isShowFooter"></app-inner-footer>
      <!-- Footer-->

      <!-- Email Plane Modal -->
      <div class="modal fade" id="emailplanesModal" tabindex="-1" role="dialog"
        aria-labelledby="emailplanesModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="col-md-12 ">

                <div class="row">
                  <div class="col-md-12 closebtnpopupdiv">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <form>
                      <div class="form-group">
                        <label class="mylable">Email address</label>
                        <input type="email" class="form-control myinputdesign" id="emailpopup"
                          placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                          else.</small>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Email Plane Modal close -->

      <!-- talk popup header Plane Modal -->
      <div class="modal fade" id="talkheadpopupModal" tabindex="-1" role="dialog"
        aria-labelledby="talkheadpopupModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="col-md-12 ">
                <div class="row">
                  <div class="col-md-12 closebtnpopupdiv">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 talkheadpopupheader">
                    <h5><i class="fa fa-phone"></i></h5>
                    <h3>We will call you soon!</h3>
                  </div>
                  <div class="col-md-12">
                    <p class="ptagtalkpopupheader">You can also reach us directily on these toll-free numbers:</p>
                  </div>
                  <div class="col-md-6 calltalknomaindivpopuphead">
                    <h3>Have Not Paid Yet (Sales)</h3>
                    <p>9999-999-9999</p>
                  </div>
                  <div class="col-md-6 calltalknomaindivpopuphead">
                    <h3>Have Already Paid (Services)</h3>
                    <p>9999-999-9999</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- talk popup header Modal close -->


    </div>
  </div>
  <app-footer></app-footer>
</div>
<ngx-ui-loader fgsColor="#da3214" fgsType="three-bounce" pbColor="#da3214"></ngx-ui-loader>