<div class="row footermainrowdiv">
    <div class="container">
      <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12 leftsideaboutfootcont">
            <p>Insurance is the subject matter of solicitation. Visitors are hereby informed that their
              information submitted on the website may be shared with insurers.</p>

            <p>The product information for comparison displayed on this website is of the insurers with whom our
              company has an agreement.</p>

            <p>Product information is authentic and solely based on the information received from the Insurer ©
              Copyright 2019 pinkitravels.com. All Rights Reserved.</p>

            <p>All savings provided by insurers.</p>

          </div>
        </div>
      </div>
    </div>
  </div>