/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + .radio {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + .radio {
    outline: 2px solid #f00;
  }
label{
  display:block;
}