/* You can add global styles to this file, and also import other style files */
.radio-group {
    label {
        font-weight : normal !important;
        margin-right: 1rem;

        input[type=radio] {
            margin-right: 0.25rem;
        }
    }
}