<div class="row">
  <div class="col-12 col-md-12 col-xs-12 col-sm-12 pd0 imgbannercontainerdiv">
    <div class="slider fadesliderhomebackground">
      <div>
        <div class="image">
          <img class="homebannerimg" src="assets/img/bg1.jpg" alt="" />
        </div>
      </div>
      <div>
        <div class="image">
          <img class="homebannerimg" src="assets/img/bg2.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-xs-12 col-sm-12 imgbannercontainercontdivmain">
      <router-outlet></router-outlet>      
    </div>
  </div>
</div>